<div class="custom-container" *ngIf="pageLoad">
    <div class="my-5">
        <div class="d-flex justify-content-between align-items-start flex-wrap mb-4">
            <div class="d-flex flex-column">
                <h1 class="font-22 font-md-24 font-weight-bold text-color-black mb-0">Module Service</h1>
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0 border-0 mt-n2 mb-2">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard/setup" class="font-14 font-weight-medium">SetupMasterData</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="font-14 font-weight-medium">Module Service</a>
                        </li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="general-box p-4">
            <app-data-table [dataSource]="dataSource" [columnsdef]="columns" [addEditComponent]="addEditComponent"
                [viewComponent]="viewComponent" [apiUrl]="apiUrl" [rowKey]="rowKey" [transaction]="transaction">
            </app-data-table>
        </div>

    </div>
</div>