<div class="popup-container" *ngIf="pageLoad">
  <div class="d-flex align-items-center justify-content-between" mat-dialog-title>
    <h3 class="mb-0 font-22 font-md-20 font-weight-semi-bold">{{dataStatus.action === 'create'? 'Add':'Edit'}} Finance
      client product </h3>
    <button class="mat-close-modal" matDialogClose>
      <i class="fi fi-close font-18"></i>
    </button>
  </div>

  <mat-dialog-content>


    <div class="p-3">
      <form [formGroup]="financeClientProductModuleForm">
        <div class="row">
          <div class="col-12 mb-4">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Finance Product

            </label>
            <mat-form-field class="primary-form font-17">
              <mat-label>Local Name</mat-label>
              <mat-icon matPrefix><i class="fi fi-search"></i> </mat-icon>
              <label class="mat-form-content">
                <input type="text" matInput formControlName="clntLocalName" [matAutocomplete]="auto">
              </label>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClientSelection($event)">
                <mat-option *ngFor="let opt of clientFilteredOptions | async" value="{{opt.clntLocalName }}">

                  {{opt.clntLocalName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-12 mb-3">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Items Status</label>
            <mat-form-field class="primary-form font-17">
              <mat-label>Items Status</mat-label>
              <label class="mat-form-content">
                <mat-select formControlName="fcpItemsStatus">
                  <mat-option *ngFor="let Status of itemsStatus" [value]="Status.code">
                    {{Status.name}}
                  </mat-option>
                </mat-select>
              </label>
            </mat-form-field>
          </div>


          <div class="col-md-12 mb-3">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Local Name </label>
            <mat-form-field class="primary-form font-17">
              <mat-label>Local Name</mat-label>
              <label class="mat-form-content">
                <input formControlName="fcpLName" matInput placeholder="Local Name" />
              </label>
            </mat-form-field>
          </div>


          <div class="col-md-12 mb-3">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Other Name </label>
            <mat-form-field class="primary-form font-17">
              <mat-label>Other Name</mat-label>
              <label class="mat-form-content">
                <input formControlName="fcpFName" matInput placeholder="Other Name" />
              </label>
            </mat-form-field>
          </div>

          <div class="col-md-12 mb-3">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Icon Font Name</label>
            <mat-form-field class="primary-form font-17">
              <mat-label>Icon Font Name</mat-label>
              <label class="mat-form-content">
                <input formControlName="fcpIconPath" matInput placeholder="Icon Path" />
              </label>
            </mat-form-field>
          </div>


          <div class="col-md-12 mb-3">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Local Description </label>
            <mat-form-field class="primary-form font-17">
              <mat-label>Local Description</mat-label>
              <label class="mat-form-content">
                <input formControlName="fcpLDescription" matInput placeholder="Local Description" />
              </label>
            </mat-form-field>
          </div>

          <div class="col-md-12 mb-3">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Other Description </label>
            <mat-form-field class="primary-form font-17">
              <mat-label>Other Description</mat-label>
              <label class="mat-form-content">
                <input formControlName="fcpFDescription" matInput placeholder="Other Description" />
              </label>
            </mat-form-field>
          </div>

          <div class="col-md-12 h-25  mb-1">
            <label class="font-17 font-weight-medium text-color-dark-gray mb-1">English Required Docuemnt </label>
            <quill-editor formControlName="fcpLRequiredDocuments"></quill-editor>
            <br />

            <br />
          </div>
          <br />

          <div class="col-md-12 h-25  mb-1">
            <label class="font-17 font-weight-medium text-color-dark-gray mb-1">Arabic Required Docuemnt </label>
            <quill-editor formControlName="fcpFRequiredDocuments"></quill-editor>
            <br />

            <br />
          </div>
          <br />


          <div class="col-md-12 h-25  mb-1">
            <label class="font-17 font-weight-medium text-color-dark-gray mb-1">English terms and condition </label>
            <quill-editor formControlName="fcpLTermsCondition"></quill-editor>
            <br />

            <br />
          </div>
          <br />


          <div class="col-md-12 h-25  mb-1">
            <label class="font-17 font-weight-medium text-color-dark-gray mb-1">Arabic terms and condition</label>
            <quill-editor formControlName="fcpFTermsConditions"></quill-editor>
            <br />

            <br />
          </div>


          <div class="col-12 mb-3">
            <mat-checkbox [(ngModel)]="fcpDownPaymentAllowed" [ngModelOptions]="{standalone: true}"><span
                class="font-17 font-weight-semi-bold text-color-black"> Down Payment Allowed</span></mat-checkbox>
          </div>




        </div>
      </form>

    </div>

  </mat-dialog-content>

  <div class="d-flex align-items-center justify-content-center" mat-dialog-actions>
    <button class="btn button-secondary font-17 font-weight-medium mb-0 px-1 px-md-3" matDialogClose>
      <span> Dismiss </span>
    </button>
    <span class="mx-2"></span>
    <!-- [disabled]="financeProductModuleForm.invalid"-->
    <button (click)="onSubmitAssetAtt()" [disabled]="financeClientProductModuleForm.invalid"
      class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3">
      <span>
        {{btnAction}}

      </span>
    </button>
  </div>

</div>