<div class="px-md-5 mx-md-5" *ngIf="pageLoad">

    <div class="row">
        <div class="col-md-8">
            <div class="d-flex align-items-center cursor-pointer" routerLink="/login/customer">
                <button class="square-btn gray-btn">
                    <span *ngIf="lang == 'AR'">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </span>
                    <span *ngIf="lang == 'EN'">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </span>
                </button>
                <span class="font-20 text-color-blue mx-3">{{staticTranslation['back']}} {{staticTranslation['to']}}
                    {{staticTranslation['login']}} </span>
            </div>
            <h1 class="font-30 font-weight-bolder text-color-black my-1"> {{staticTranslation['signUp']}}</h1>
            <!-- <p class="text-color-gray disc">{{staticTranslation['signUp']}}</p> -->

            <div class="">
                <form [formGroup]="registerationForm" autocomplete="off" class="row" *ngIf="pageLoad">

                    <div class="col-md-9 mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <label
                                class="font-18 font-weight-bolder text-color-dark-black">{{staticTranslation['alreadyCustomer']}}</label>
                            <mat-slide-toggle [checked]="true"(change)="showForm($event)"></mat-slide-toggle>
                        </div>
                    </div>
                    <ng-container *ngIf="showNewCustomer">

                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppLFirstName']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['wppLFirstName']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppLFirstName']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput placeholder="{{probertyData['wppLFirstName']['ahdCaption']}}"
                                        formControlName="localFirstName">
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['localFirstName'].errors &&
              registerationForm.controls['localFirstName'].errors['required'] && 
              registerationForm.controls['localFirstName'].touched" class="text-danger">
                                {{probertyData['wppLFirstName']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                            </div>
                            <div *ngIf="registerationForm.controls['localFirstName'].errors && registerationForm.controls['localFirstName'].touched" class="text-danger">
                                <p>{{staticTranslation['nameFormat']}}</p>
                                
                              </div>
                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppLLastName']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['wppLLastName']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppLLastName']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput placeholder="{{probertyData['wppLLastName']['ahdCaption']}}"
                                        formControlName="localLastName">
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['localLastName'].errors &&
              registerationForm.controls['localLastName'].errors['required'] && 
              registerationForm.controls['localLastName'].touched" class="text-danger">
                                {{probertyData['wppLLastName']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                            </div>
                            <div *ngIf="registerationForm.controls['localLastName'].errors && registerationForm.controls['localLastName'].touched" class="text-danger">
                                <p>{{staticTranslation['nameFormat']}}</p>
                                
                              </div>
                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppIdentityType']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['wppIdentityType']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppIdentityType']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <mat-select formControlName="identityType" (focus)="callIdentityLovService()">
                                        <mat-option *ngFor="let idType of identityTypeDomain" [value]="idType.Code">
                                            {{idType.local_name}}
                                        </mat-option>
                                    </mat-select>
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['identityType'].errors &&
              registerationForm.controls['identityType'].errors['required'] && 
              registerationForm.controls['identityType'].touched" class="text-danger">
                                {{probertyData['wppIdentityType']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                            </div>
                        </div>

                         <!--
                            commented until test
                           
                      (change)="verifyingCivilId('New')"  -->
                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppIdentityNumber']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">  {{probertyData['wppIdentityNumber']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppIdentityNumber']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput placeholder="{{probertyData['wppIdentityNumber']['ahdCaption']}}"
                                    (keydown)="startWriting('id')"  
                                    id="new-identity" (click)="disablingArrowa('new-identity')"
                                    formControlName="identityNumber" type="number">
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['identityNumber'].errors &&
              registerationForm.controls['identityNumber'].errors['required'] && 
              registerationForm.controls['identityNumber'].touched" class="text-danger">
                                {{probertyData['wppIdentityNumber']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                            </div>
                            <div *ngIf="isWrongId" class="text-danger">
                                {{civilIdErrorMessage}}
                            </div>
                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppBirthDate']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['wppBirthDate']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppBirthDate']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput [matDatepicker]="picker"  [max]="getValidDateForBirth()" readonly formControlName="birthDate">

                                </label>
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <i class="fi fi-calendar text-color-blue font-14" matDatepickerToggleIcon></i>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <div *ngIf="registerationForm.controls['birthDate'].errors &&
              registerationForm.controls['birthDate'].errors['required'] && 
              registerationForm.controls['birthDate'].touched" class="text-danger">
                                {{probertyData['wppBirthDate']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                            </div>

                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppSex']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['wppSex']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppSex']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <mat-select formControlName="sex" (focus)="callSexLovServices()">
                                        <mat-option  *ngFor="let sex of sexDomain " [value]="sex.Code">
                                            {{sex.local_name}}
                                        </mat-option>
                                    </mat-select>
                                </label>
                            </mat-form-field>

                            <div *ngIf="registerationForm.controls['sex'].errors &&
              registerationForm.controls['sex'].errors['required'] && 
              registerationForm.controls['sex'].touched" class="text-danger">
                                {{probertyData['wppSex']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                            </div>

                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['mainMobileNo']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['mainMobileNo']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['mainMobileNo']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput matInput type="number"
                                        id="new-mobile" (click)="disablingArrowa('new-mobile')"
                                        placeholder="{{probertyData['mainMobileNo']['ahdCaption']}}"
                                        formControlName="mobileNumber1">
                                </label>
                            </mat-form-field>


                            <div
                                *ngIf="registerationForm.controls['mobileNumber1'].errors && registerationForm.controls['mobileNumber1'].touched">
                                <div *ngIf="registerationForm.controls['mobileNumber1'].errors['required']"
                                    class="text-danger">
                                    {{probertyData['mainMobileNo']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                                </div>

                            </div>

                        </div>

                         <!--
                            commented until test
                           
                       (change)="verifyingEmail()" -->
                        <div class="col-md-9 mb-3" *ngIf="probertyData['email']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['email']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['email']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput placeholder="{{probertyData['email']['ahdCaption']}}"
                                    (keydown)="startWriting('mail')"
                                     formControlName="email">
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['email'].errors &&
               registerationForm.controls['email'].touched && 
               registerationForm.controls['email'].errors['pattern']" class="text-danger">
                                {{staticTranslation['emailFormat']}}.
                            </div>
                            <div *ngIf="isWrongEmail" class="text-danger">  
                                {{staticTranslation['wrongEmail']}}
                            </div>
                        </div>

                         <!--
                            commented until test
                           
                        (change)="ngModelChange()" -->
                        <div class="col-md-9 mb-3" *ngIf="probertyData['loginName']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['loginName']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['loginName']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput autocomplete="off" placeholder="Username"
                                        placeholder="{{probertyData['loginName']['ahdCaption']}}"
                                        (keydown)="startWriting('name')"
                                         formControlName="userName">
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['userName'].errors &&
              registerationForm.controls['userName'].errors['required'] && 
              registerationForm.controls['userName'].touched" class="text-danger">
                                {{probertyData['loginName']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                            </div>
                            <div *ngIf="usedUserNameErrorMsg" class="text-danger">
                                {{staticTranslation['usedUserNameErrorMsg']}}
                            </div>
                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['passwordHash']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['passwordHash']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['passwordHash']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input type="password" autocomplete="off" matInput
                                        placeholder="{{probertyData['passwordHash']['ahdCaption']}}"
                                        formControlName="password" (ngModelChange)="passwordChange($event)">
                                </label>
                            </mat-form-field>
                            <div
                                *ngIf="registerationForm.controls['password'].errors && registerationForm.controls['password'].touched">
                                <div *ngIf="registerationForm.controls['password'].errors['required']" class="text-danger">
                                    {{probertyData['passwordHash']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                                </div>
                                <div *ngIf="registerationForm.controls['password'].errors['pattern']" class="text-danger">
                                    <p>{{staticTranslation['passwordFormat']}}</p>
                                    <p>{{staticTranslation['passwordFormat2']}}</p>
                                    <p>{{staticTranslation['passwordFormat3']}}</p>
                                </div>
                            </div>
                            <div *ngIf="passwordErrorMsg" class="text-danger">
                                {{staticTranslation['passwordErrorMsg']}}
                            </div>
                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['confirmPassword']['apsVisible'] == 'T'">
                            <label class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">
                                {{probertyData['confirmPassword']['ahdCaption']}}
                            </label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['confirmPassword']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input type="password" matInput
                                        placeholder="{{probertyData['confirmPassword']['ahdCaption']}}"
                                        formControlName="confirmPassword">
                                </label>
                            </mat-form-field>
                            <div
                                *ngIf="registerationForm.controls['confirmPassword'].errors && registerationForm.controls['confirmPassword'].touched">
                                <div *ngIf="registerationForm.controls['confirmPassword'].errors['required']"
                                    class="text-danger">
                                    {{probertyData['confirmPassword']['ahdCaption']}}
                                    {{staticTranslation['isRequired']}}.
                                </div>

                                <div *ngIf="registerationForm.controls['confirmPassword'].errors['mustMatch']"
                                    class="text-danger">
                                    {{staticTranslation['matchPasswords']}}
                                </div>
                            </div>


                        </div>

                        <div class="col-md-9 mb-3">
                            
                            <!-- <re-captcha (resolved)="resolved($event)"
                                siteKey="6LdvlaQZAAAAAIEDgGccuDq4n87cSFDXywT9jOMB">
                            </re-captcha> -->

                            <div *ngIf="isRegisterationFormSubmitted && captchaValue == false" class="text-danger">
                                {{staticTranslation['this']}} {{staticTranslation['verification']}}
                                {{staticTranslation['isRequired']}}.
                            </div>


                        </div>

                        <div class="col-md-9 mb-3" *ngIf="probertyData['remember']['apsVisible'] == 'T'">
                            <mat-checkbox formControlName="remember"><span
                                    class="font-15 font-weight-medium text-color-black">
                                    {{probertyData['remember']['ahdCaption']}}
                                </span>
                            </mat-checkbox>
                        </div>

                    </ng-container>
                    <ng-container *ngIf="showAlreadyCustomer">
                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppIdentityType']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['wppIdentityType']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppIdentityType']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <mat-select formControlName="identityType">
                                        <mat-option *ngFor="let idType of identityTypeDomain" [value]="idType.Code">
                                            {{idType.local_name}}
                                        </mat-option>
                                    </mat-select>
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['identityType'].errors &&
              registerationForm.controls['identityType'].errors['required'] && 
              registerationForm.controls['identityType'].touched" class="text-danger">
                                {{staticTranslation['wppIdentityType']}} {{staticTranslation['isRequired']}} .
                            </div>
                        </div>

                        <!--
                            commented until test
                           
                        (change)="verifyingCivilId('Exist')" -->
                        <div class="col-md-9 mb-3" *ngIf="probertyData['wppIdentityNumber']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">  {{probertyData['wppIdentityNumber']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['wppIdentityNumber']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput placeholder="{{probertyData['wppIdentityNumber']['ahdCaption']}}"
                                    (keydown)="startWriting('id')" type="number"
                                    id="exist-identity" (click)="disablingArrowa('exist-identity')"
                                    formControlName="identityNumber">
                                </label>
                            </mat-form-field>
                            <div *ngIf="registerationForm.controls['identityNumber'].errors &&
            registerationForm.controls['identityNumber'].errors['required'] && 
            registerationForm.controls['identityNumber'].touched" class="text-danger">
                                {{staticTranslation['wppIdentityNumber']}} {{staticTranslation['isRequired']}}.
                            </div>
                            <div *ngIf="isWrongId" class="text-danger">
                                {{civilIdErrorMessage}}
                            </div>
                        </div>
                        <div class="col-md-9 mb-3" *ngIf="probertyData['mainMobileNo']['apsVisible'] == 'T'">
                            <label
                                class="font-14 text-color-dark-gray mb-2 d-flex align-items-center">{{probertyData['mainMobileNo']['ahdCaption']}}</label>
                            <mat-form-field class="primary-form font-17">
                                <mat-label>{{probertyData['mainMobileNo']['ahdCaption']}}</mat-label>
                                <label class="mat-form-content">
                                    <input matInput placeholder="{{probertyData['mainMobileNo']['ahdCaption']}}" type="number"
                                    id="exist-mobile" (click)="disablingArrowa('exist-mobile')"
                                        formControlName="mobileNumber1">
                                </label>
                            </mat-form-field>
                            <div
                                *ngIf="registerationForm.controls['mobileNumber1'].errors && registerationForm.controls['mobileNumber1'].touched">
                                <div *ngIf="registerationForm.controls['mobileNumber1'].errors['required']"
                                    class="text-danger">
                                    {{staticTranslation['mainMobileNo1']}} {{staticTranslation['isRequired']}}.
                                </div>
                                <div *ngIf="registerationForm.controls['mobileNumber1'].errors['pattern']"
                                    class="text-danger">
                                    {{staticTranslation['mainMobileNo1']}} {{staticTranslation['mobileFormat']}}.
                                </div>
                            </div>
                            <br />

                        </div>

                    </ng-container>
                    <br />
                    <div class="col-md-9 mb-3">
                        <!--
                            commented until test 
                            ||isWrongId||isWrongEmail||tempFlag||existed -->
                        <button class="btn button-primary w-100" mat-button
                            [disabled]="registerationForm.invalid||isRegisterationFormSubmitted" (click)="verifyDataBeforeRegister()">
                            <span>{{staticTranslation['signUp']}}</span>
                        </button>
                    </div>

                </form>

            </div>


        </div>
    </div>
</div>