<div class="custom-container mt-2" *ngIf="pageLoad">
    <div class="row mb-2">
        <div class="col-md-3 d-none d-md-flex mt-2">

            <div class="d-flex justify-content-between align-items-start flex-wrap mb-4">
                <div class="d-flex flex-column">
                    <h1 class="font-22 font-md-24 font-weight-bold text-color-black mb-0">Attribute Details</h1>
                    <br />
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb p-0 border-0 mt-n2 mb-2">
                            <li class="breadcrumb-item">
                                <a routerLink="/dashboard/localize"
                                    class="font-14 font-weight-medium">LocalizeMasterData</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a class="font-14 font-weight-medium">Attribute Details</a>
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center ">
            <form [formGroup]="filterForm" *ngIf="pageLoad" class="form-inline">
                <div class="row ">
                    <div class="form-group mb-2">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Main Module</label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>Main Module</mat-label>
                            <label class="mat-form-content">

                                <mat-select formControlName="parentModKey">

                                    <mat-option *ngFor="let data of mainModLocalnameData"
                                        (click)="getParentModKey(data.modKey ,data.modLocalName)" [value]="data.modKey">
                                        {{data.modLocalName}}
                                    </mat-option>

                                </mat-select>
                            </label>
                        </mat-form-field>
                    </div>

                    <div class="form-group mx-sm-3 mb-2">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Module</label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>Module</mat-label>
                            <label class="mat-form-content">
                                <mat-select formControlName="modKey" [disabled]="!dependentLov">
                                    <mat-option *ngFor="let data of modNameData"
                                        (click)="getModLocalName(data.modLocalName)" [value]="data.modKey">
                                        {{data.modLocalName}}</mat-option>
                                </mat-select>
                            </label>
                        </mat-form-field>
                    </div>
                    <div class="form-group  mb-2 mt-4">
                        <button [disabled]="(filterForm.invalid||filterForm.untouched)"
                            (click)="attributeDetailsData(modKey.value,parentModKey.value)"
                            class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3 mt-3">
                            <span>
                                Fetch
                            </span>
                        </button>
                    </div>
                </div>
            </form>



        </div>

        <div class="col-md-3 d-none d-md-flex justify-content-end mt-4 ">
            <button class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3 mt-3" [disabled]="isDisabled"
                (click)="addAttribute()">
                <span>
                    New Attribute Localize
                </span>
            </button>
        </div>

    </div>
    <div class="general-box p-4">
        <app-data-table [dataSource]="dataSource" [columnsdef]="columns" [addEditComponent]="addEditComponent"
            [viewComponent]="" [apiUrl]="apiUrl" [rowKey]="rowKey" [transaction]="transaction"></app-data-table>
    </div>

</div>