<div class="p-md-5 m-md-5">
    
    <div class="row">
        <div class="col-xl-9">

            <div class="d-flex align-items-center cursor-pointer" routerLink="/mobile-number">

                <button class="square-btn gray-btn">

                    <span *ngIf="lang == 'AR'">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </span>
                    <span *ngIf="lang == 'EN'">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </span>
                </button>

                <span class="font-20 text-color-blue mx-3">{{staticTranslation['back']}}</span>
            </div>
            <h1 class="font-45 font-weight-bolder text-color-black mt-2 mb-3 line-height-1">
                {{staticTranslation['verifyMsg']}}</h1>
            <form [formGroup]="verificationForm" *ngIf="pageLoad">
                <div class="row">
                    <div class="col-md-9 mb-3">
                        <label
                            class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">{{staticTranslation['enter']}}
                            {{probertyData['verificationCode']['ahdCaption']}}</label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>{{staticTranslation['enter']}} {{probertyData['verificationCode']['ahdCaption']}}
                            </mat-label>
                            <label class="mat-form-content">
                                <input matInput
                                    placeholder="{{staticTranslation['enter']}} {{probertyData['verificationCode']['ahdCaption']}}"
                                    formControlName="verificationCode">
                            </label>
                        </mat-form-field>
                        <div *ngIf="verificationForm.controls['verificationCode'].errors &&
            verificationForm.controls['verificationCode'].errors['required'] && 
            verificationForm.controls['verificationCode'].touched" class="text-danger">

                            {{probertyData['verificationCode']['ahdCaption']}} {{staticTranslation['isRequired']}}.

                        </div>
                    </div>
                    <div class="col-md-9 mb-3">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">

                            {{staticTranslation['enter']}} {{probertyData['newPassword']['ahdCaption']}} </label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>{{staticTranslation['enter']}} {{probertyData['newPassword']['ahdCaption']}}
                            </mat-label>
                            <label class="mat-form-content">
                                <input matInput
                                    placeholder="{{staticTranslation['enter']}} {{probertyData['newPassword']['ahdCaption']}}"
                                    formControlName="newPassword" type="password" (ngModelChange)="passwordChange($event)">
                            </label>
                        </mat-form-field>
                       
                        <div
                        *ngIf="verificationForm.controls['newPassword'].errors && verificationForm.controls['newPassword'].touched">
                        <div *ngIf="verificationForm.controls['newPassword'].errors['required']"
                            class="text-danger">
                            {{probertyData['newPassword']['ahdCaption']}} {{staticTranslation['isRequired']}}.
                        </div>
                        <div *ngIf="verificationForm.controls['newPassword'].errors['pattern']"
                            class="text-danger">
                            <p>{{staticTranslation['passwordFormat']}}</p>
                            <p>{{staticTranslation['passwordFormat2']}}</p>
                            <p>{{staticTranslation['passwordFormat3']}}</p>
                        </div>
                    </div>
                    <div *ngIf="passwordErrorMsg" class="text-danger">
                        {{staticTranslation['passwordErrorMsg']}}
                    </div>
                    </div>


                    <div class="col-md-9 mb-3">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">

                            {{staticTranslation['enter']}} {{probertyData['confirmNewPassword']['ahdCaption']}} </label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>{{staticTranslation['enter']}}
                                {{probertyData['confirmNewPassword']['ahdCaption']}}</mat-label>
                            <label class="mat-form-content">
                                <input matInput
                                    placeholder="{{staticTranslation['enter']}} {{probertyData['confirmNewPassword']['ahdCaption']}}"
                                    formControlName="confirmNewPassword" type="password">
                            </label>
                        </mat-form-field>

                        <div
                            *ngIf="verificationForm.controls['confirmNewPassword'].errors && verificationForm.controls['confirmNewPassword'].touched">
                            <div *ngIf="verificationForm.controls['confirmNewPassword'].errors['required']"
                                class="text-danger">

                                {{probertyData['confirmNewPassword']['ahdCaption']}}
                                {{staticTranslation['isRequired']}}.
                            </div>

                            <div *ngIf="verificationForm.controls['confirmNewPassword'].errors['mustMatch']"
                                class="text-danger">
                                {{staticTranslation['matchPasswords']}}
                            </div>
                        </div>

                    </div>

                    <div class="col-md-9 mb-3">
                        <button (click)="resetPassword()" class="btn button-primary w-100"
                            [disabled]="verificationForm.invalid">

                            <span> {{staticTranslation['reset']}} {{staticTranslation['passwordHash']}}</span>

                        </button>
                    </div>

                    <div class="col-md-9 mb-3">
                        <div class="d-flex justify-content-center font-15 font-weight-medium">

                            <span class="text-color-black"> {{staticTranslation['verifyCodeInfo']}}</span>
                            <a href="" class="text-color-blue mx-1">{{staticTranslation['ClickHere']}}!</a>
                            {{staticTranslation['toSend']}} {{staticTranslation['again']}}

                        </div>
                    </div>



                </div>
            </form>
        </div>
    </div>
</div>