<div class="d-flex align-items-center justify-content-end" mat-dialog-title>
    <button class="mat-close-modal" matDialogClose>
      <i class="fi fi-close font-18"></i>
    </button>
</div>

<mat-dialog-content class="h-100 border-0 pt-0 mt-n5" *ngIf="pageLoad">
    <div class="px-md-4">
        <div class="user-info d-flex flex-column flex-md-row justify-content-md-start justify-content-center align-items-center flex-wrap mb-4">
            <button class="btn button-primary font-18 font-weight-semi-bold px-2" (click)="addCurrency()" *ngIf="false">
          <span>
            <i class="fi fi-pen"></i>
            {{staticTranslation['EditInformation']}}
          </span>
        </button>
        </div>
        <div class="info-section reverse">
            <div class="info-item" *ngIf="probertyData['wcrCode']['apsVisible'] == 'T'">
                <span class="name">{{this.probertyData['wcrCode']['ahdCaption']}}</span>
                <span class="disc">{{currencyData.wcrCode}}</span>
            </div>
           
            <div class="info-item" *ngIf="probertyData['wcrLocalName']['apsVisible'] == 'T'">
                <span class="name">{{this.probertyData['wcrLocalName']['ahdCaption']}}</span>
                <span class="disc">{{currencyData.wcrLocalName}} </span>
            </div>
            <div class="info-item" *ngIf="probertyData['wcrForeignName']['apsVisible'] == 'T'">
                <span class="name">{{this.probertyData['wcrForeignName']['ahdCaption']}}</span>
                <span class="disc">{{currencyData.wcrForeignName}}</span>
            </div>

        </div>
    </div>
</mat-dialog-content>