<form [formGroup]="moduleForm" (ngSubmit)="onSubmit()" *ngIf="pageLoad">
    <div class="d-flex align-items-center justify-content-between" mat-dialog-title>
        <h3 class="mb-0 font-22 font-md-20 font-weight-semi-bold">New Module</h3>
        <button class="mat-close-modal" matDialogClose>
            <i class="fi fi-close font-18"></i>
        </button>
    </div>

    <mat-dialog-content class="h-100 border-top pt-3">


        <div class="col-12 mb-4">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Main Module</label>
            <mat-form-field class="primary-form font-17">
                <mat-label>Main Module</mat-label>
                <label class="mat-form-content">

                    <mat-select formControlName="mainModLocalname">

                        <mat-option *ngFor="let data of mainModLocalnameData" [value]=data.Name>{{data.Name}}
                        </mat-option>

                    </mat-select>
                </label>
            </mat-form-field>
        </div>

        <div class="col-12 mb-4">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Module</label>
            <mat-form-field class="primary-form font-17">
                <mat-label>Module</mat-label>
                <label class="mat-form-content">

                    <mat-select formControlName="modName">

                        <mat-option *ngFor="let data of modNameData" [value]=data.Name>{{data.Name}}</mat-option>

                    </mat-select>
                </label>
            </mat-form-field>
        </div>

        <div class="col-12 mb-4">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Role</label>
            <mat-form-field class="primary-form font-17">
                <mat-label>Role</mat-label>
                <label class="mat-form-content">

                    <mat-select formControlName="rolKey">

                        <mat-option *ngFor="let data of roleNameData" [value]=data.Code>{{data.Name}}</mat-option>

                    </mat-select>
                </label>
            </mat-form-field>
        </div>

        <div class="col-12 mb-4">
            <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Process</label>
            <mat-form-field class="primary-form font-17">
                <mat-label>Process</mat-label>
                <label class="mat-form-content">

                    <mat-select formControlName="prcKey">

                        <mat-option *ngFor="let data of processNameData" [value]=data.Code>{{data.Name}}</mat-option>

                    </mat-select>
                </label>
            </mat-form-field>
        </div>



    </mat-dialog-content>

    <div class="d-flex align-items-center justify-content-center">
        <button type="button" class="btn button-secondary font-17 font-weight-medium mb-0 px-1 px-md-3" matDialogClose>
            <span>Dismiss</span>
        </button>
        <span class="mx-2"></span>
        <button type="submit" class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3">
            <span>
                Save
            </span>
        </button>
    </div>
</form>