// @import "assets/scss/functions";
@import "variables";
// @import "assets/scss/mixins";



.error-page {
    h1 {
        font-size: 160px;
    }
    .svg {
        .lines {
            display: none;
            line {
                stroke: $blue;
                fill: $white;
                stroke-dasharray: 150;
                stroke-dashoffset: 150;
                animation: dash 4.5s linear alternate infinite;
                animation-delay: .5s;
            }
        }
        .right-f {
            position: relative;
        }
        .left-f {
            position: relative;
        }
        @keyframes balloon3 {
            0% {
                top: 3px;
            }
            20% {
                top: -3px;
            }
            40% {
                top: 3px;
            }
            60% {
                top: -3px;
            }
            80% {
                top: 3px;
            }
            100% {
                top: -3px;
            }
        }
        @keyframes offset {
            to {
                stroke-dashoffset: 0;
            }
        }
        // @keyframes dash {
        //     0% {
        //         stroke-dashoffset: 0;
        //     }
        //     20% {
        //         stroke-dashoffset: calc(1000 / 20%);
        //     }
        //     40% {
        //         stroke-dashoffset: calc(1000 / 40%);
        //     }
        //     60% {
        //         stroke-dashoffset: calc(1000 / 60%);
        //     }
        //     80% {
        //         stroke-dashoffset: calc(1000 / 80%);
        //     }
        //     100% {
        //         stroke-dashoffset: 1000;
        //     }
        // }
    }
}

// @include media-breakpoint-down(md) {
//     .error-page {
//         h1 {
//             font-size: 80px;
//         }
//         h3 {
//             font-size: 40px;
//         }
//     }
// }