<div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
  <h2 class="font-33 font-md-24 font-weight-bold text-color-black">Finance Client Product information</h2>
  <!-- <button class="btn button-primary px-3 font-17 font-weight-md-medium" (click)="addNew()" *ngIf="status != 'view'">
      <span>Add Address</span>
    </button> -->
</div>

<div class="info-section reverse" *ngIf="pageLoad">

  <div class="info-item">
    <span class="name">Local Name</span>
    <span class="disc">{{financeProduct?.fcpLName}} </span>
  </div>

  <div class="info-item">
    <span class="name">Other Name</span>
    <span class="disc">{{financeProduct?.fcpFName}} </span>
  </div>
  <div class="info-item">
    <span class="name">clnt Local Name </span>
    <span class="disc">{{financeProduct?.clntLocalName}} </span>
  </div>
  <div class="info-item">
    <span class="name">Local Description</span>
    <span class="disc">{{financeProduct?.fcpLDescription}} </span>
  </div>

  <div class="info-item">
    <span class="name">Other Description</span>
    <span class="disc">{{financeProduct?.fcpFDescription}} </span>
  </div>

  <div class="info-item">
    <span class="name">English Terms Conditions</span>
    <span class="disc">
      <div [innerHTML]="financeProduct?.fcpLTermsCondition"></div>
    </span>
  </div>

  <div class="info-item">
    <span class="name">Arabic Terms Conditions </span>
    <span class="disc">
      <div [innerHTML]="financeProduct?.fcpFTermsConditions"></div>
    </span>
  </div>


  <div class="info-item">
    <span class="name">English Required Docuemnts</span>

    <span class="disc">
      <div [innerHTML]="financeProduct?.fcpLRequiredDocuments"></div>
    </span>
  </div>

  <div class="info-item">
    <span class="name">Arabic Required Docuemnts</span>
    <span class="disc">
      <div [innerHTML]="financeProduct?.fcpFRequiredDocuments"></div>
    </span>
  </div>

  <div class="info-item">
    <span class="name">Icon Font Name </span>
    <span class="disc">{{financeProduct?.fcpIconPath}} </span>
  </div>



  <div class="info-item">
    <span class="name">Items Status </span>
    <span class="disc">{{financeProduct?.fcpItemsStatus}} </span>
  </div>




</div>