<div class="popup-container" *ngIf="pageLoad">
    <div class="d-flex align-items-center justify-content-between" mat-dialog-title>
        <h3 class="mb-0 font-22 font-md-20 font-weight-semi-bold">{{data.status === 'create'? 'Add':'Edit'}} Module
            Attribute </h3>
        <button class="mat-close-modal" matDialogClose>
            <i class="fi fi-close font-18"></i>
        </button>
    </div>

    <mat-dialog-content>


        <div class="p-3">
            <form [formGroup]="mainInfoForm">
                <div class="row">



                    <div class="col-md-6 mb-3">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Source</label>
                        <mat-form-field class="primary-form font-17">
                            <label class="mat-form-content">
                                <input formControlName="source" matInput placeholder="description" />
                            </label>
                        </mat-form-field>
                    </div>




                    <div class="col-6 mb-4">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Distination

                        </label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>Distination</mat-label>
                            <mat-icon matPrefix><i class="fi fi-search"></i> </mat-icon>
                            <label class="mat-form-content">
                                <input type="text" matInput formControlName="distination"
                                    [matAutocomplete]="autoModule2">
                            </label>
                            <mat-autocomplete #autoModule2="matAutocomplete"
                                (optionSelected)="onModuleSelection($event)">
                                <mat-option *ngFor="let opt of moduleFilteredOptions | async" [value]="opt.maLocalName">

                                    {{opt.maLocalName}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                </div>
            </form>

        </div>

    </mat-dialog-content>

    <div class="d-flex align-items-center justify-content-center" mat-dialog-actions>
        <button class="btn button-secondary font-17 font-weight-medium mb-0 px-1 px-md-3" matDialogClose>
            <span>Dismiss</span>
        </button>
        <span class="mx-2"></span>
        <button (click)="onSubmit()" [disabled]="mainInfoForm.invalid"
            class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3">
            <span>
                {{buttonAction}}
            </span>
        </button>
    </div>

</div>