<div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
  <h2 class="font-33 font-md-24 font-weight-bold text-color-black">Process Localize</h2>
</div>


<form [formGroup]="processLocalizeForm" *ngIf="pageLoad">
  <div class="p-3">

    <div class="form-group mx-sm-3 mb-2" *ngIf="status!='view' ">
      <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Process Name</label>
      <mat-form-field class="primary-form font-17">
        <label class="mat-form-content">
          <input formControlName="prcLocalName" matInput placeholder="process" />
        </label>
      </mat-form-field>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Language</label>
      <mat-form-field class="primary-form font-17">
        <mat-label>{{status=='Edit'?processData.langLocalName:'Language'}}</mat-label>
        <label class="mat-form-content">
          <mat-select formControlName="langsKey">
            <mat-option *ngFor="let data of languagesNamesData" [value]=data.langKey>{{data.langLocalName}}
            </mat-option>
          </mat-select>
        </label>
      </mat-form-field>
    </div>




    <div class="form-group mx-sm-3 mb-2" *ngIf="status!='view' ">
      <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Description</label>
      <mat-form-field class="primary-form font-17">
        <label class="mat-form-content">
          <input formControlName="plcDescription" matInput placeholder="Description" />
        </label>
      </mat-form-field>
    </div>




  </div>
</form>


<div *ngIf="status!='view' " class="d-flex align-items-center justify-content-center" mat-dialog-actions>
  <button (click)="resetForm()" class="btn button-secondary font-17 font-weight-medium mb-0 px-1 px-md-3"
    matDialogClose>
    <span>Dismiss</span>
  </button>
  <span class="mx-2"></span>
  <button (click)="onSubmitProcessLocalize()" class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3"
    [class.disabled]="isDisabled">
    <span>
      {{btnAction}}
    </span>
  </button>
</div>