<div class="popup-container">
    <div class="d-flex align-items-center justify-content-end" mat-dialog-title>
      <button class="mat-close-modal" matDialogClose>
        <i class="fi fi-close font-18"></i>
      </button>
    </div>
  
  
    <mat-dialog-content>
      <div class="custom-container">
        <div class="my-8">
          <div class="d-block d-md-none mt-3">
            <mat-form-field class="primary-form blue-input font-17">
              <mat-label>Lov Module</mat-label>
              <label class="mat-form-content">
                <mat-select [(ngModel)]="chosenStep" (ngModelChange)="gotoStep()">
                  <mat-option value="0">Lov Module</mat-option>
                  <mat-option value="1">Lov Column </mat-option>
                  <mat-option value="2"> Bind Parameters </mat-option>
                </mat-select>
              </label>
            </mat-form-field>
          </div>
  
  
          <div class="row">
            <div class="col-md-3 d-none d-md-flex">
              <mat-tab-group #tabGroup (selectedIndexChange)="onTabChanged($event)" class="vertical-tab w-100">
                <mat-tab>
                  <div *matTabLabel>
                    Lov Module
                  </div>
                </mat-tab>
                <mat-tab>
                  <div *matTabLabel>
                    Lov Column
                  </div>
                </mat-tab>
                <mat-tab>
                    <div *matTabLabel>
                      Bind Parameters
                    </div>
                  </mat-tab>
              </mat-tab-group>
            </div>
  
            <div class="col-md-9">
  
              <div *ngIf="tabIndex===0">
                <div *ngIf="status=='view'">
                  <app-lov-module-information [status]="status" [row]="row"></app-lov-module-information>
                </div>
                <div *ngIf="status=='Edit' || status=='create'">
                  <app-add-edit-lov-module [status]="status" [row]="row"></app-add-edit-lov-module>
                </div>
              </div>
  
              <div *ngIf="tabIndex===1">
                <app-lov-column-mapping-information [status]="status" [row]="row"></app-lov-column-mapping-information>
              </div>
  
              <div *ngIf="tabIndex===2">
                <app-module-bind-param-information [status]="status" [row]="row"></app-module-bind-param-information>
              </div>
  
            </div>
            </div>
          </div>
        </div>
     
    </mat-dialog-content>
  
  
    <div class="d-flex align-items-center justify-content-center" mat-dialog-actions *ngIf="status == 'view'">
      <button class="btn button-secondary font-17 font-weight-medium mb-0 px-1 px-md-3" matDialogClose>
        <span>Ok</span>
      </button>
    </div>
  </div>

