<form [formGroup]="staticTranslationForm" (ngSubmit)="onSubmit()" *ngIf="pageLoad">
  <div class="d-flex align-items-center justify-content-between" mat-dialog-title>
    <h3 class="mb-0 font-22 font-md-20 font-weight-semi-bold">New Default Value</h3>
    <button class="mat-close-modal" matDialogClose>
      <i class="fi fi-close font-18"></i>
    </button>
  </div>

  <mat-dialog-content class="h-100 border-top pt-3">


    <div class="form-group mx-sm-3 mb-2">
      <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Language</label>
      <mat-form-field class="primary-form font-17">
        <mat-label>Language</mat-label>
        <label class="mat-form-content">
          <mat-select formControlName="langKey">
            <mat-option *ngFor="let data of languagesNamesData" [value]=data.langKey>{{data.langLocalName}}
            </mat-option>
          </mat-select>
        </label>
      </mat-form-field>
    </div>





    <div class="col-12 mb-4">
      <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">control name</label>
      <mat-form-field class="primary-form font-17">
        <mat-label>control name</mat-label>
        <label class="mat-form-content">
          <input type="text" matInput placeholder="control name" formControlName="controlName" />

        </label>
      </mat-form-field>
    </div>


    <div class="col-12 mb-4">
      <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">descritption</label>
      <mat-form-field class="primary-form font-17">
        <mat-label>descritption</mat-label>
        <label class="mat-form-content">
          <input type="text" matInput placeholder="descritption" formControlName="controlValue" />

        </label>
      </mat-form-field>
    </div>








  </mat-dialog-content>


  <div class="d-flex align-items-center justify-content-center">
    <button type="button" class="btn button-secondary font-17 font-weight-medium mb-0 px-1 px-md-3" matDialogClose>
      <span>Dismiss</span>
    </button>
    <span class="mx-2"></span>
    <button type="submit" class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3"
      [class.disabled]="isDisabled">
      <span>
        {{btnAction}}
      </span>
    </button>
  </div>

</form>