<div class="popup-container" *ngIf="pageLoad">
    <div class="d-flex align-items-center justify-content-between" mat-dialog-title>
        <h3 class="mb-0 font-22 font-md-20 font-weight-semi-bold">{{dataStatus.action === 'create'? 'Add':'Edit'}}
            Module </h3>
        <button class="mat-close-modal" matDialogClose>
            <i class="fi fi-close font-18"></i>
        </button>
    </div>

    <mat-dialog-content>


        <div class="p-3">
            <form [formGroup]="ModulesForm">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Role </label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>Role</mat-label>
                            <label class="mat-form-content">
                                <mat-select formControlName="rolKey">
                                    <mat-option *ngFor="let rol of roles" (click)="getModKey(rol.rolKey)"
                                        [value]="rol.rolKey">
                                        {{rol.rolLocalName}}
                                    </mat-option>
                                </mat-select>
                            </label>
                        </mat-form-field>
                    </div>

                   
                    <div class="col-12 mb-4">
                        <label class="font-18 text-color-dark-gray mb-2 d-flex align-items-center">Module

                        </label>
                        <mat-form-field class="primary-form font-17">
                            <mat-label>Module</mat-label>
                            <mat-icon matPrefix><i class="fi fi-search"></i> </mat-icon>
                            <label class="mat-form-content">
                                <input type="text" matInput formControlName="modLocalName" [disabled]="!dependentLov"
                                    [matAutocomplete]="auto2">
                            </label>
                            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onModuleSelection($event)">
                                <mat-option *ngFor="let opt of modulesFilteredOptions | async"
                                    value="{{opt.modLocalName }}">

                                    {{opt.modLocalName}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    
                </div>
            </form>

        </div>

    </mat-dialog-content>

    <div class="d-flex align-items-center justify-content-center" mat-dialog-actions>
        <button class="btn button-secondary font-17 font-weight-medium mb-0 px-1 px-md-3" matDialogClose>
            <span> Dismiss </span>
        </button>
        <span class="mx-2"></span>
        <!-- -->
        <button (click)="onSubmitRequiredDocument()" [disabled]="ModulesForm.invalid"
            class="btn button-primary font-17 font-weight-medium mb-0 px-1 px-md-3">
            <span>
                {{btnAction}}

            </span>
        </button>
    </div>

</div>