<div class="custom-container">

    <div class="my-5">
        <h1 class="font-22 font-md-24 font-weight-bold text-color-black mb-0">Setup</h1>
        <h4 class="font-14 font-weight-medium text-color-gray mb-4">Please choose the category that you want to setup
        </h4>




        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="languages">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Languages</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Languages</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="domains">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Domains</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Domains</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="lovs">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Lovs</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Lovs</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="lov-module">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Lov Module</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Lov Module</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" (click)="onCRSetup()" routerLink="modules">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Customer My Requests</span>
                        <div class="font-12 font-weight-medium">

                            <span class="px-1 disc">Modules Setup</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" (click)="onBURSetup()" routerLink="modules">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Business User All Requests</span>
                        <div class="font-12 font-weight-medium">

                            <span class="px-1 disc">Modules Setup</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="moduleservices">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Module Services</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Module Services</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="default-values">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Default Values Setup</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Default Values Setup</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="users">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Users</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Users</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" (click)="onFlexSetup()"
                    routerLink="flex-field">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Flex Field Setup</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Flex Field Setup</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" (click)="onAssetSetup()"
                    routerLink="flex-field">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Asset Attributes Setup</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Asset Attributes Setup</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="ass-att-mapp">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Asset Attributes Mapping Code</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Asset Attributes Mapping Code</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="finance-products">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Finance Products</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Finance Products</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="fin-pro-con">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Finance Products configration</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Finance Products Configuration </span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="vacations">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Vacations</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Vacations</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="client">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Clients</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Clients</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="main-card p-4 mb-4 d-flex align-items-center" routerLink="csl-req-docs">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Csl Required Documents</span>
                        <div class="font-12 font-weight-medium">
                            <span class="px-1 disc">Csl Required Documents</span>
                        </div>
                    </div>
                </div>
            </div>





            <!--    </div> -->


            <div class="col-md-4 mb-3" *ngIf=false>
                <div class="main-card p-4 mb-4 d-flex align-items-center" (click)="onBUOMSetup()" routerLink="modules">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Business User Other Modules</span>
                        <div class="font-12 font-weight-medium">

                            <span class="px-1 disc">Modules Setup</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-3" *ngIf=false>
                <div class="main-card p-4 mb-4 d-flex align-items-center" (click)="onCOMSetup()" routerLink="modules">
                    <div class="icon p-3 p-md-4">
                        <i class="fi fi-language font-40 font-md-30"></i>
                    </div>
                    <span class="mx-3"></span>
                    <div class="d-flex flex-column flex-grow-1">
                        <span class="font-20 font-md-20 font-weight-semi-bold name">Customer Other Modules</span>
                        <div class="font-12 font-weight-medium">

                            <span class="px-1 disc">Modules Setup</span>
                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>
</div>