

  <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
    <h2 class="font-33 font-md-24 font-weight-bold text-color-black">Required Document information</h2>
    <!-- <button class="btn button-primary px-3 font-17 font-weight-md-medium" (click)="addNew()" *ngIf="status != 'view'">
      <span>Add Address</span>
    </button> -->
  </div>
  
  <div class="info-section reverse" *ngIf="pageLoad">
   
    <div class="info-item" >
      <span class="name">Word Local Name</span>
      <span class="disc">{{requiredDocument?.wrdLocalName}} </span>
    </div>
    
    <div class="info-item" >
      <span class="name">Purpose</span>
      <span class="disc">{{requiredDocument?.fcprdUsedForName}} </span>
    </div>
    <div class="info-item" >
        <span class="name">Nationality</span>
        <span class="disc">{{requiredDocument?.fcprdNationalityStatusName}} </span>
      </div>

      <div class="info-item" >
        <span class="name">Originality</span>
        <span class="disc">{{requiredDocument?.fcprdRequiredOrginalityName}} </span>
      </div>

   
  </div>
  
